<%- include("partials/header"); -%>


<h1>Home</h1>
<p> <%= startingContent %> </p>
<%# here we have done the looping to the posts array that we have recived from app.js's also we have got "homestarting content". %>
<%  posts.forEach(function(post){ %>
<h1><%=post.title%></h1>
<p>
  <%=post.content.substring(0, 100) + " ..."%>
  <a href="/posts/<%=post._id%>">Read More</a>
</p>
<% }) %>


<%- include("partials/footer"); -%>
